/* google font Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

/* Google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
}

* h3,
h1 {
    font-family: 'Merriweather', serif;
}

* p,
button,
input {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;
}


h3 {
    color: #070211;
    font-size: 38px;
    font-weight: 900;
}

p {
    color: rgba(7, 2, 17, 0.60);
    ;
}









/* banner related styles */

.banner {
    text-align: center;
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner .header-text {
    max-width: 500px;
    margin: 0 auto;
    padding: 165px 0;

}

.banner .header-text * {
    margin-bottom: 10px;
}

.banner .header-text h3 {
    color: #FFF;
    font-size: 28px;
}

.banner .header-text h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
}



/* main related styles */
main section {
    margin-top: 120px;
}



/* discount related section */
#discount .discount-content {
    text-align: center;
}

#discount .discount-content .discount-img {
    max-width: 650px;
    margin: 35px auto;
}

#discount .discount-content .discount-img img {
    width: 100%;
}

.discount-content .off {
    color: #F00;
    font-size: 70px;
    font-weight: 700;
}

.discount-content .holiday-deals {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;
}

.discount-content .categories {
    color: #070211;
    font-size: 38px;
    font-weight: 700;
}


/* midnight party related section */
#midnight-party .midnight-content {
    background-image: url('../images/Vectorrr.png');
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#midnight-party .midnight-content * {
    margin-bottom: 25px;
}

.midnight-content h3 {
    color: #FFF;
    font-size: 52px;
    font-weight: 900;
}

.midnight-content p {
    color: #FFF;
    font-size: 14px;
}

.midnight-content .section-text {
    max-width: 550px;
    margin: 0 auto;
    padding: 126px 0;
}

.midnight-content .section-text button {
    color: #FFF;
    background-color: rgb(214, 13, 164);
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 24px;
    text-transform: uppercase;
}

.midnight-content .section-img {
    max-width: 260px;
    padding: 60px 60px;
}

.midnight-content .section-img img {

    width: 100%;
}

/* portfolio related styles */

.portfolio-container .portfolio-text .gift {
    color: #F00;
    font-size: 18px;
    font-weight: 500;
}

.portfolio-container .portfolio-text {
    max-width: 730px;

}

.portfolio-container .portfolio-img {

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

}

.portfolio-container .portfolio-text * {
    margin-bottom: 20px;
}

.portfolio-container .portfolio-img img {
    width: 100%;
}


/* newsletter related design */

#newsletter .newsletter-container {
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
}

#newsletter .newsletter-content {
    text-align: center;
    max-width: 730px;
    margin: 0 auto;
}

#newsletter .newsletter-content * {
    margin-bottom: 30px;
}

#newsletter .newsletter-form {
    text-align: center;
    max-width: 525px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#newsletter .newsletter-form input {
    padding: 21px;
    border-radius: 50px;
    background: #FFF;
    flex-grow: 1;
    border: none;

}

#newsletter .newsletter-form button {
    color: #FFF;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -50px;
    padding: 18px 50px;
    font-size: 18px;
    border: none;
}